.navbar{
    font-family: 'Roboto', sans-serif;
   
}
.navbar a{
    text-decoration: none;
    font-size: x-large;
}
.nav-link a{
    text-decoration: none;
    color: white;
}
.nav-link a:hover{
    color: #80B501 !important;
}
.link{
    color: white !important;
}