.background{
    
    background-image: linear-gradient(rgba(68, 67, 67, 0.6),rgba(121, 119, 119, 0.6)) ,url('../../Images/kitchen.jpg');
    height: 88vh;
    background-repeat: no-repeat;
    background-size: contain;
    
}