.background{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url('../../Images//kitchen.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}